html {
    position: relative;
}
body {
    margin-bottom: 100px;
    margin-top: 30px;
}

/* Header And Navbar */
.navbar {
    padding: 20px 50px;
    font-size: 1.6em;
}

.header .navbar .logo {
    font-size: 1.6em;
    color: rgb(157, 224, 255) ;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

.header .navbar-inverse .navbar-nav > li > a {
    color: rgb(157, 224, 255) ;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar .logo:hover,
.navbar-inverse .navbar-nav > li > a.active,
.navbar .logo:hover.active {
    color: rgb(0, 174, 255); 
    background: rgba(52, 160, 255, 0.1);
    border-radius: 20px;
}

.nav li a:hover {
    background: rgba(52, 160, 255, 0.1) !important;
    color: rgb(0, 174, 255); 
    border-radius: 20px;
}

/* End Header and Navbar */


/* Jumbotron */
.jumbotron-main {
    height: 100vh;
    background-image: url(../img/digitaltech.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}

.jumbotron-main h1,
.jumbotron-main p {
    color: rgb(0, 174, 255); 
    background-color: rgba(213, 235, 255, 0.63);
    border-radius: 20px;
    letter-spacing: 3px;
    padding: 15px 10px;
    text-shadow: 2px 2px 4px white;

}

.jumbotron-main h1 {
    font-size: 5em;
    text-transform: uppercase;
    font-weight: 700;
}

.jumbotron-main p {
    font-size: 3em;
    color: rgb(0, 174, 255); 
    text-transform: uppercase;
}

.jumbotron-main button {
    margin-top: 50px;
    height: 70px;
    width: 200px;
    border: 4px solid rgb(8, 197, 255);
    background: rgba(52, 160, 255, 0.1);
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(0, 174, 255); 
    border-radius: 10px;
    text-shadow: 1px 1px 4px white;
    font-size: large;
}

.jumbotron-main button:hover {
    background-color: rgb(8, 197, 255);
    transform: scale(1.2);
    transition: .2s linear;
    color: rgb(255, 255, 255); 

}

/* End Jumbotron */



/* About */
.about {
    margin-top: 100px;
    font-size: 2em;
    text-align: justify;
}
/* End About */



/* Work */
.jumbotron-work {
    height: 50vh;
    background-image: url('../img/jumbotron.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
    overflow: hidden;
}

.work .content > * {
    text-align: justify;
    line-height: 2;
}

.work .content h1 {
    font-weight: bold;
    font-weight: 700;
        color: rgb(0, 174, 255); 
        margin-top: 50px;
    
}

.work .content p {
    text-indent: 30px;
    font-size: large;
}

.work .content li {
    font-size: large;
}
/* End Work  */



/* Contact */
.contact {
    margin: 50px 0;
    min-height: 800px;
}
/* End Contact */


.about,
.work,
.contact {
    margin-top: 200px;
}

.about h2,
.work h2,
.contact h2 {
    color: rgb(0, 174, 255); 
    font-weight: bold;

}

hr {
    width: 250px;
    border-top: 3px solid #999;
}


footer {
    position: absolute;
    bottom: 0;
    background-color: #333;
    width: 100%;
    height: 100px;
    padding-top: 40px;
}
footer p {
    color: white;
    font-size: 1.2em;
}
footer p i {
    color: red;
}

@media screen and (max-width: 768px){

    body {
        overflow-x: hidden;
    }

    .about,
    .work,
    .contact {
        width: 80%;
        margin: 0 auto;
        text-align: justify;
        margin-top: 100px;
    }

    /* Header And Navbar */
    .navbar {
        padding: 20px 50px;
        font-size: 1em;
    }

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: rgb(157, 224, 255) ;
    }

    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        background-color: rgba(166, 227, 255, 0.233) ;
    }

    .header .navbar .logo {
        font-size: 1.6em;
    }

    .header .navbar .logo:hover {
        text-shadow: 1px 1px 2px white;
    }

    .header .navbar-inverse .navbar-nav > li > a {
        margin-bottom: 5px;
    }
    .nav li a:hover {
        background: rgba(52, 160, 255, 0.1) !important;
        color: rgb(0, 174, 255); 
        border-radius: 20px;
    }

    /* End Header and Navbar */


    .jumbotron-main {
        height: 100vh;
        background-position: -300px;

    }

    /* Jumbotron */
    .jumbotron-main {
        height: 100vh;
        background-position: -300px;

    }

    .jumbotron-main h1,
    .jumbotron-main p {
        color: rgb(0, 174, 255); 
        background-color: rgba(213, 235, 255, 0.63);
        border-radius: 20px;
        letter-spacing: 3px;
        text-shadow: 2px 2px 4px white;
    }

    .jumbotron-main h1 {
        font-size: 3em;
    }

    .jumbotron-main p {
        opacity: 0;
    }

    .jumbotron-main button {
        color: aliceblue;
        text-shadow: none;
        border: 4px solid rgb(108, 209, 255);
        background-color: rgb(108, 209, 255);
    }

    .jumbotron-main button:hover {
        background-color: rgb(28, 177, 247);
        transform: scale(1.2);
        transition: .4s linear;
        color: aliceblue;
        border: 4px solid rgb(108, 209, 255);
    }
    /* End Jumbotron */


    .about {
        margin-top: 100px;
        font-size: large;
        text-align: justify;
    }

    .about .about-content {
        margin-top: 50px;

    }
    

    .about .p-left {
        margin-bottom: 40px;
    }

    /* Work */
    
    .jumbotron-work {
        height: 40vh;
        background-position: -300px -200px;
        margin-top: 30px;
    }

    .work .content > * {
        line-height: 2;
    }

    .work .content h1 {
        font-size: 2em;
        font-weight: 700;
        color: rgb(0, 174, 255); 
        margin-top: 50px;
    }

    .work .content p {
        text-indent: 30px;
        font-size: 1.3em;
    }

    .work .content li {
        font-size: large;
    }
    /* End Work  */
    
    /* Contact */
    .contact {
        margin-bottom: 50px;
    }
    /* End Contact */
}